 body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            color:black;
            background-color:white;
        }
.container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background:white;
            color:black;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
h1,
h2 {
            color:black;
        }
.header {
            text-align: center;
        }
.header h1 {
            margin: 10px 0;
        }
.contact {
            margin: 10px 0;
            font-size: 14px;
        }
.contact a {
            color:black;
            text-decoration: none;
        }
.section {
            margin: 20px 0;
        }
.section h2 {
            margin-bottom: 10px;
            border-bottom: 2px solid black;
            padding-bottom: 5px;
            color:black
        }
.item {
            margin-bottom: 15px;
        }
.item h3 {
            margin: 0;
            font-size: 18px;
            color:black;
        }
.item p {
            margin: 5px 0;
            font-size: 14px;
        }
.skills ul {
            list-style: none;
            padding: 0;
        }
.skills ul li {
            display: inline-block;
            background:gray;
            color:black;
            padding: 5px 10px;
            margin: 5px 5px 5px 0;
            border-radius: 4px;
        }
        